@charset "UTF-8";
/*
Author: Samuel Slávik
Version: 1.0
 */
* {
  margin: 0; }

body {
  margin: 0;
  color: #677880;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  line-height: 1.8em; }

h1 {
  color: #41AE65;
  margin: 0; }

.displayFlex {
  display: flex;
  position: relative; }
  @media all and (max-width: 768px) {
    .displayFlex {
      display: block; } }

a {
  text-decoration: none;
  color: #677880; }

a:hover {
  text-decoration: none;
  color: #41AE65; }

.screenDisplay {
  display: block; }
  @media all and (max-width: 992px) {
    .screenDisplay {
      display: none !important; } }

.responsiveDisplay {
  display: none; }
  @media all and (max-width: 992px) {
    .responsiveDisplay {
      display: block !important; } }

*::selection {
  background-color: #41AE65;
  color: White; }

*::-moz-selection {
  background-color: #41AE65;
  color: White; }

.icon {
  width: 50px;
  height: 50px;
  color: #41AE65; }

.iconsList {
  list-style-type: none;
  line-height: 5em;
  padding: 0%;
  text-align: center; }
  @media all and (max-width: 768px) {
    .iconsList {
      display: flex;
      margin-top: 5%;
      padding-left: 0; }
      .iconsList li {
        padding: 2%; } }

.contactDiv {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 8%; }

.contactForm {
  flex: 4; }

.contactDiv ul {
  flex: 1;
  padding-left: 2%; }
  @media all and (max-width: 768px) {
    .contactDiv ul {
      display: flex;
      margin-top: 5%;
      padding-left: 0; }
      .contactDiv ul li {
        padding: 2%; } }

.contactDiv .contactText {
  flex: 2; }

.contactForm .formContent {
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: #C4E9D1;
  padding: 2%;
  margin-bottom: 5%; }

.formContent {
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: #C4E9D1;
  padding: 2%;
  margin-bottom: 5%; }

.contactForm textarea {
  height: 150px; }

.headline {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -ms-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  padding: 2% 0% 2% 0%;
  font-weight: bold; }
  .headline:hover {
    transform: skewY(0.5deg) skewX(1.5deg) scale(1.01);
    -webkit-transform: skewY(0.5deg) skewX(1.5deg) scale(1.01);
    -moz-transform: skewY(0.5deg) skewX(1.5deg) scale(1.01);
    -ms-transform: skewY(0.5deg) skewX(1.5deg) scale(1.01);
    -o-transform: skewY(0.5deg) skewX(1.5deg) scale(1.01);
    text-shadow: 0.5rem 1rem 2rem black; }

.blogHeadline {
  font-weight: bold; }

.button {
  background-color: #41AE65;
  color: White;
  padding: 8px 50px 8px 50px;
  text-align: center;
  border-radius: 4px;
  border: none; }

.tag {
  background-color: #C4E9D1;
  color: White;
  padding: 2px 15px 2px 15px;
  text-align: center;
  border-radius: 4px;
  border: none;
  float: left; }

.activeTag {
  background-color: #41AE65;
  color: white; }

.activeTag:hover {
  color: #C4E9D1; }

.blogTagsList {
  display: flex; }
  @media all and (max-width: 768px) {
    .blogTagsList {
      display: block; } }

@media all and (max-width: 768px) {
  .blogTagsList .tag {
    margin-top: 2%; } }

.swiper-button-next, .swiper-button-prev {
  color: #41AE65; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.button:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

.newsletterDiv {
  width: 100%;
  background-color: #C4E9D1;
  color: #677880;
  margin-bottom: 8%; }

.newsletterWrapper {
  width: 50%;
  position: relative;
  background-color: #C4E9D1;
  height: 350px; }
  @media all and (max-width: 768px) {
    .newsletterWrapper {
      width: 100%; } }

.newsletterImg {
  height: auto;
  color: white;
  background-image: url("https://hackernoon.com/hn-images/1*EntHChgUyirgbZ9A3zTxkA.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media all and (max-width: 768px) {
    .newsletterImg {
      height: 350px; } }

.newsletterImg .headline {
  color: white; }

.newsletterContent {
  padding: 2% 15% 2% 15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.newsletterInput {
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: #C4E9D1;
  padding: 2%;
  margin-bottom: 5%; }

.blogPostsDiv {
  padding: 2% 15% 2% 15%;
  margin-bottom: 8%;
  position: relative;
  height: auto;
  overflow: hidden; }

.blogPost {
  margin: 3% 5% 3% 0;
  width: 30%; }
  @media all and (max-width: 768px) {
    .blogPost {
      width: 100%;
      margin: 3% 5% 20% 0; } }

.blogPost img {
  box-sizing: border-box;
  width: 100%; }

.blogPost h3 {
  margin-top: 1%; }

.blogPost .subBlogHeadline {
  margin-bottom: 1%;
  font-size: 1.2em; }

.blogTagsList {
  width: 100%; }

.blogTagsList .tag {
  margin-right: 2%;
  margin-bottom: 2%; }

.category {
  background-color: #C4E9D1;
  padding: 2%;
  min-height: 450px;
  margin-right: 2% !important; }
  @media all and (max-width: 768px) {
    .category {
      padding: 10%; } }

.callToAction h1 {
  padding: 2% 15% 2% 15%;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s; }

.callToAction button {
  margin: 2% 15% 2% 15%; }

.video-wrapper {
  position: relative;
  margin-bottom: 8%;
  height: 80vh; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 1;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%); }
  .bg-video__content {
    object-fit: cover; }

.customImageGridFlex {
  flex-wrap: wrap;
  align-content: stretch;
  width: 100%;
  display: flex; }

.imageGridDiv {
  width: 100%;
  height: auto;
  margin-bottom: 8%;
  background-color: #41AE65; }

.imageGridDiv .headline {
  color: White; }

.imageGridRow {
  flex: 1; }

.imageGridImg {
  width: 100%;
  height: 400px; }

.flip-card {
  background-color: transparent;
  width: 11%;
  height: 250px;
  perspective: 1000px; }
  @media all and (max-width: 992px) {
    .flip-card {
      width: 33.333%;
      height: 300px; } }
  @media all and (max-width: 768px) {
    .flip-card {
      width: 50%;
      height: 250px; } }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.flip-card-front {
  background-color: #bbb;
  color: black; }

.flip-card-back {
  background-color: #C4E9D1;
  color: #677880;
  transform: rotateY(180deg);
  box-sizing: border-box; }

.flip-card-back a {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 80%;
  margin-left: 10%;
  text-align: center; }

.flip-card-back a h3 {
  color: #41AE65; }

.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  @media all and (max-width: 768px) {
    .card-carousel {
      width: 200%;
      left: -50%; } }

.card-carousel .my-card {
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: 1s; }

/*
.card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}*/
.card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s; }

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s; }

/*
.card-carousel .my-card:nth-child(0):before {
    content: '0';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(1):before {
    content: '1';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
    content: '2';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
    content: '3';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(4):before {
    content: '4';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}
*/
.gameQuestion {
  display: none;
  height: 100%; }

#question1 {
  display: flex; }

.gameWrapper {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 8%; }

.progressBar {
  list-style-type: none;
  padding: 0;
  width: 20%;
  text-align: center; }

.progressBar li {
  margin: 10px; }

.progressBar li button {
  background-color: #677880;
  color: White;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  text-align: center;
  border: none;
  font-weight: bold; }

.activeLevel button {
  color: White !important;
  background-color: #41AE65 !important; }

.gameDiv {
  width: 80%;
  height: auto; }

.questionHeadline {
  font-weight: normal; }

.questionImg {
  width: 30%; }

.gameQuestionContent {
  width: 60%;
  margin-right: 10%; }

/*********************************************/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.blogDiv {
  display: flex;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 8%; }
  @media all and (max-width: 768px) {
    .blogDiv {
      display: block; } }

.blogMain {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin-right: 5%;
  justify-content: space-between; }
  @media all and (max-width: 768px) {
    .blogMain {
      display: block;
      width: 100%; } }

.blogMainPost {
  width: 47.5%;
  margin: 0 0 5% 0; }
  @media all and (max-width: 768px) {
    .blogMainPost {
      width: 100%;
      margin-bottom: 100px !important; } }

.blogRight {
  width: 30%; }
  @media all and (max-width: 768px) {
    .blogRight {
      width: 100%; } }

.blogMostRead {
  background-color: red;
  height: 200px;
  margin-bottom: 10%; }
  @media all and (max-width: 768px) {
    .blogMostRead {
      width: 100%; } }

.blogCategories {
  background-color: blue;
  height: 200px; }
  @media all and (max-width: 768px) {
    .blogCategories {
      width: 100%; } }

.blogTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 5%; }
  @media all and (max-width: 992px) {
    .blogTop {
      display: block; } }

.blogTop .blogSlider {
  width: 65%;
  height: 400px; }
  .blogTop .blogSlider .swiper-button-prev {
    color: White !important; }
  .blogTop .blogSlider .swiper-button-next {
    color: White !important; }
  @media all and (max-width: 768px) {
    .blogTop .blogSlider {
      width: 100%; } }

.blogTop .blogTopPost {
  width: 30%;
  background-color: green; }
  @media all and (max-width: 768px) {
    .blogTop .blogTopPost {
      width: 100%; } }

.blogSlider .swiper-slide {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("http://getwallpapers.com/wallpaper/full/6/f/6/853576-vertical-green-leaves-wallpaper-1920x1200.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: White !important; }

.blogSlider .blogHeadline {
  color: White;
  position: absolute;
  bottom: 20px;
  left: 50px; }

.blogSlider .blogHeadline:hover {
  color: #41AE65; }

.headerDiv {
  position: relative;
  padding: 2% 15% 2% 15%;
  padding-bottom: 8%;
  color: white; }

.headerDiv .headline {
  color: white;
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; }

.headerDiv .headline-text {
  max-width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px; }

.swiper-slide {
  padding: 2em;
  margin: 0 !important; }

.swiper-container {
  height: inherit; }

.headerContent {
  height: auto;
  width: 100%;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%; }
  @media all and (max-width: 768px) {
    .headerContent {
      width: 100%; } }

.headerContentDiv {
  position: absolute;
  margin-left: 10%;
  width: 90%; }
  @media all and (max-width: 768px) {
    .headerContentDiv {
      position: relative;
      width: 100%;
      margin-left: 0; } }

.headerContent .button {
  position: absolute;
  bottom: 0; }
  @media all and (max-width: 768px) {
    .headerContent .button {
      position: relative;
      margin-top: 5%; } }

footer {
  bottom: 0;
  position: relative;
  background-color: #41AE65;
  color: White;
  text-align: left;
  padding: 5% 15% 5% 15%; }

footer .headline {
  color: White;
  margin-top: 0; }

.footerContent {
  margin-bottom: 5%; }

.footerAbout {
  flex: 3;
  width: auto; }

.footerIconsList {
  flex: 2;
  padding-left: 5%; }

.footerIconsList .icon {
  color: White; }

.footerMenu {
  flex: 2;
  padding-left: 5%; }

.footerMenu ul {
  list-style-type: none;
  text-align: left;
  padding-left: 15px; }

.footerMenu ul li a {
  color: White; }

.footerMenu ul li a:hover {
  color: #C4E9D1; }

.footerCategories {
  flex: 2; }

.footerCategories {
  padding-left: 15px;
  text-align: left; }

.footerCategories ul li a {
  color: White; }

.footerCategories ul li a:hover {
  color: #C4E9D1; }

.footerRights {
  text-align: center; }

.footerLogosDiv {
  margin-bottom: 5%; }

.footerLogo {
  width: 20%;
  height: 150px;
  background-image: url("https://s3.eu-central-1.amazonaws.com/uploads.mangoweb.org/shared-prod/visegradfund.org/uploads/2018/01/visegrad_fund_logo_blue_800px-1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
  @media all and (max-width: 768px) {
    .footerLogo {
      width: 100%; } }

.navigation {
  width: 70%;
  margin-left: 15%;
  padding-top: 1%;
  margin-bottom: 5%; }
  @media all and (max-width: 992px) {
    .navigation {
      width: 100%;
      margin-left: 0; } }

.navbar-collapse.collapse {
  display: flex !important; }
  @media all and (max-width: 768px) {
    .navbar-collapse.collapse {
      display: block !important; } }

.navigation a {
  color: White; }

.menu ul li {
  width: 100%;
  text-align: center; }

.menu ul {
  display: flex;
  width: 100%; }
  @media all and (max-width: 992px) {
    .menu ul {
      display: block; } }

.nav li {
  width: 100%;
  text-align: center; }

.nav li a:hover {
  border-bottom: 2px solid #41AE65;
  background-color: transparent; }

.nav {
  display: flex;
  width: 100%; }
  @media all and (max-width: 992px) {
    .nav {
      display: block; } }

.navbar {
  margin-bottom: 0; }

.navbar-nav {
  margin: 0; }

.container-fluid > .navbar-collapse {
  margin: 0; }

.navbar-brand {
  float: right; }
  @media all and (max-width: 992px) {
    .navbar-brand {
      float: left; } }

.container-fluid {
  display: flex;
  width: 100%;
  padding: 0 !important; }
  @media all and (max-width: 992px) {
    .container-fluid {
      display: block; } }

.navbar-collapse {
  width: 100%;
  padding: 0 !important;
  display: flex !important; }

.navProfileImg {
  border-radius: 50%;
  flex: 1;
  height: 50px;
  margin: 5px; }

.navProfile div div {
  flex: 5; }

.navProfile {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  width: -o-max-content;
  width: max-content;
  text-align: left !important; }
  @media all and (max-width: 992px) {
    .navProfile {
      width: 80% !important; }
      .navProfile .displayFlex {
        display: flex !important; } }

.navProfileText {
  margin-top: 8px;
  margin-left: 5px; }

.nav li a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.2em; }
  @media all and (max-width: 992px) {
    .nav li a {
      position: relative;
      transform: none; } }

.nav li {
  position: relative !important; }

.navProfile a {
  position: relative !important;
  top: 0 !important;
  transform: none !important;
  text-align: left !important;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  width: -o-max-content;
  width: max-content;
  display: inline-block; }

.logOut {
  font-weight: normal !important; }

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px; }

.dropdown-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.dropdown-menu > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  color: #333;
  white-space: nowrap; }

.navbar-toggle .icon-bar {
  background-color: #C4E9D1; }

.navbar-header {
  display: none;
  width: 100%;
  margin: 0 !important;
  border-bottom-style: solid;
  border-bottom-color: #41AE65; }
  @media all and (max-width: 992px) {
    .navbar-header {
      display: block;
      width: 100%; } }

@media (min-width: 992px) {
  .nav > li {
    position: initial; }
  .open > .dropdown-menu {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-pack: justify;
    flex-wrap: nowrap;
    margin: 60px 0 0 0; }
  .dropdown-menu > ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1; }
  .dropdown-menu > ul + ul {
    border-left: 1px solid #e5e5e5; } }

@media (max-width: 991px) {
  /* collapse on sm size*/
  .navbar-header {
    float: none; }
  .navbar-left,
  .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; }
  .dropdown-menu {
    position: relative;
    width: 100%;
    float: left; }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; } }

.aboutUsDiv {
  padding: 2% 15% 2% 15%;
  margin-bottom: 8%;
  position: relative;
  height: auto;
  overflow: hidden; }

.aboutUsDiv img {
  width: 50%;
  display: flex;
  height: auto; }
  @media all and (max-width: 768px) {
    .aboutUsDiv img {
      width: 100%; } }

.aboutUsText {
  position: absolute;
  width: 40%;
  top: 50%;
  transform: translateY(-50%);
  height: auto; }
  @media all and (max-width: 768px) {
    .aboutUsText {
      position: relative;
      top: 0;
      width: 100%;
      height: auto;
      transform: none;
      margin-bottom: 5%; } }

.aboutUsLeft {
  float: left; }
  @media all and (max-width: 768px) {
    .aboutUsLeft {
      float: none; } }

.aboutUsRight {
  float: right; }
  @media all and (max-width: 768px) {
    .aboutUsRight {
      float: none; } }

.aboutUsRightText {
  float: right;
  left: 60%; }
  @media all and (max-width: 768px) {
    .aboutUsRightText {
      float: none;
      left: 0; } }

.aboutUsRow {
  overflow: hidden;
  position: relative;
  height: auto;
  margin-bottom: 5%; }
  @media all and (max-width: 768px) {
    .aboutUsRow {
      overflow: auto; } }
