.aboutUsDiv {
    width: 70%;
    padding: 2% 15% 2% 15%;
    margin-bottom: 8%;
    position: relative;
    height: auto;
    overflow: hidden;
}
.aboutUsDiv img {
    width: 50%;
    display:flex;
    height: auto;
    @media all and (max-width: $break-1){
        width: 100%;
    }

}
.aboutUsText {
    position: absolute;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    @media all and (max-width: $break-1){
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        transform: none;
        margin-bottom: 5%;
    }
}
.aboutUsLeft {
    float: left;
    @media all and (max-width: $break-1){
        float: none;
    }
}
.aboutUsRight {
    float: right;
    @media all and (max-width: $break-1){
        float: none;
    }
}
.aboutUsRightText {
    float: right;
    left: 60%;
    @media all and (max-width: $break-1){
        float: none;
        left: 0;
    }
}
.aboutUsRow {
    overflow: hidden;
    position: relative;
    height: auto;
    margin-bottom: 5% ;
    @media all and (max-width: $break-1){
        overflow: auto;
    }
}
