// COLORS
$defaultColor: #677880;
$white1: White;
$white2: #F1F1F1;
$color-black: black;

$green1: #41AE65;
$green2: #C4E9D1;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

// FONTS


// SIZES
$primaryFontSize: 1em;
$secondaryFontSize: 1.1em;
$tertiaryFontSize: 1.2em;
$smallFontSize: 0.9em;
$smallerFontSize: 0.8em;
$bigFontSize: 1.4em;

// BREAK-POINTS
$break-1: 768px;
$break-2: 992px;
$break-3: 1170px;
$break-4: 1600px;