.blogPostsDiv {
    width: 70%;
    padding: 2% 15% 2% 15%;
    margin-bottom: 8%;
    position: relative;
    height: auto;
    overflow: hidden;
}
.blogPost {

}
.blogTagsList {
    width: 100%;
}
.blogTagsList .tag {
    margin-right: 2%;
    margin-bottom: 2%;
}