.button {
    background-color: $green1;
    color: $white1;
    padding: 8px 50px 8px 50px;
    text-align: center;
    border-radius: 4px;
    border: none;
}
.tag {
    background-color: $green2;
    color: $white1;
    padding: 2px 15px 2px 15px;
    text-align: center;
    border-radius: 4px;
    border: none;
    float: left;
}
.activeTag {
    background-color: $green1;
}
.blogTagsList {
    display: flex;
    @media all and (max-width: $break-1){
        display: block;
    }
}
.blogTagsList .tag{
    @media all and (max-width: $break-1){
        margin-top: 2%;
    }
}