.headerDiv {
    position: relative;
    padding: 2% 15% 2% 15%;
    margin-bottom: 8%;
}
.swiper-slide {
  padding: 2em;
    margin: 0!important;
}
.swiper-container {
    height: inherit;
}
.headerContent {
    width: 100%;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    @media all and (max-width: $break-1){
        width: 100%;
    }
}
.headerContentDiv {
    position: absolute;
    margin-left: 10%;
    height: 100%;
    width: 90%;
    @media all and (max-width: $break-1){
        position: relative;
        width: 100%;
        margin-left: 0;
    }
}
.headerContent .button {
    position: absolute;
    bottom: 0;
    @media all and (max-width: $break-1){
        position: relative;
        margin-top: 5%;
    }
}