.newsletterDiv {
    width: 100%;
    background-color: $green2;
    color: $defaultColor;
    margin-bottom: 8%;
}
.newsletterWrapper {
    width: 50%;
    position: relative;
    background-color: $green2;
    height: 350px;
    @media all and (max-width: $break-1){
        width: 100%;
    }
}
.newsletterImg {
    height: auto;
    color: white;
    @media all and (max-width: $break-1){
        height: 350px;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newsletterImg .headline {
    color: white;
}
.newsletterContent {
    padding: 2% 15% 2% 15%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.newsletterInput {
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: $green2;
    padding: 2%;
    margin-bottom: 5%;
}