.blogDiv {
    display: flex;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 8%;
    @media all and (max-width: $break-2){
        display: block;
    }
}
.blogMain {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin-right: 5%;
    justify-content: space-between;
    @media all and (max-width: $break-2){
        display: flex;
        width: 100%;
    }
    @media all and (max-width: $break-1){
        display: block;
    }
    //align-content: space-evenly;
}
.blogMainPost {
    width: 47.5%;
    margin: 0 0 5% 0;
    //border-radius: 0 0 10px 0;
    @media all and (max-width: $break-2){
        width: 47.5%;
        margin-bottom: 100px !important;
    }
    @media all and (max-width: $break-1){
        width: 100%;
        margin-bottom: 100px !important;
    }


}
.blogImage {
    width: 100%;
    height: 350px;
    background-image: url("http://getwallpapers.com/wallpaper/full/6/f/6/853576-vertical-green-leaves-wallpaper-1920x1200.jpg");
    background-position: center;;
    background-size: cover;
    background-repeat: no-repeat;
}
.blogImg {
    width: 100%;
    height: 250px;
    max-height: 250px;
}

.blogRight {
    width: 30%;
    @media all and (max-width: $break-2){
        width: 100%;
    }
}
.blogMostRead {
    height: auto;
    margin-bottom: 20%;
    @media all and (max-width: $break-2){
        width: 100%;
    }
}
.blogCategories {
    height: 200px;
    @media all and (max-width: $break-2){
        width: 100%;
    }
}
.blogCategories .blogCategoriesHeadline {
    font-weight: bold;
    margin-top: 0;
}


.blogTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 5%;
    @media all and (max-width: 992px) {
        display: block;
    }
}
.blogTop .blogSlider {
    width: 65%;
    height: 400px;
    .swiper-button-prev {
        color: $white1 !important;
    }
    .swiper-button-next {
        color: $white1 !important;
    }
    @media all and (max-width: $break-2){
       width: 100%;
    }
}
.blogTop .blogTopPost {
    width: 30%;
    position: relative;
    background-image: url("http://getwallpapers.com/wallpaper/full/6/f/6/853576-vertical-green-leaves-wallpaper-1920x1200.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media all and (max-width: $break-2){
        width: 100%;
    }
}

.blogTopPost .blogHeadline {
    color: $white1;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.blogSlider .swiper-slide{
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("http://getwallpapers.com/wallpaper/full/6/f/6/853576-vertical-green-leaves-wallpaper-1920x1200.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $white1 !important;
}
.blogSlider .blogHeadline {
    color: $white1;
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.blogSlider .blogHeadline:hover {
    color: $green1;
}
.blogMostReadPost {
    display: flex;
    margin-bottom: 10%;
}
.blogMostReadPost .blogHeadline {
     width: 60%;
     font-size: 1.2em;
    position: relative;
 }
.blogMostReadPost .blogHeadline a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.blogMostReadPost .blogImage {
    float: right;
    width: 40%;
    height: 100px;
    @media all and (max-width: $break-2){
        height: 150px;
    }
}
.blogMostReadHeadline {
    font-weight: bold;
    margin-top: 0;
}
.blogPosts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media all and (max-width: $break-1){
        display: block;
    }
}
.blogPosts .blogPost {
    width: 30%;
    @media all and (max-width: $break-2){
        width: 47.5%;
    }
    @media all and (max-width: $break-1){
        width: 100%;
    }
}
.blogPostsBottomNav {
    float: right;
}